<table class="table table-bordered table-condensed">
    <thead>
       <tr><th></th><th colspan="2">2013</th></tr>
       <tr><th>Source</th><th>Value</th><th>Weight</th></tr>
    </thead>
    <tbody>
       <tr><th>Coal</th><td>100</td><td>25.1714373016364</td></tr>
       <tr><th>Natural Gas</th><td>100</td><td>25.6282308993733</td></tr>
       <tr><th>Petroleum</th><td>2.60499784251009</td><td>26.108136876248</td></tr>
       <tr><th>Nuclear</th><td>100</td><td>18.384467050666</td></tr>
       <tr><th>Hydro</th><td>100</td><td>0.538424553840555</td></tr>
       <tr><th>Geothermal</th><td>100</td><td>0.048325883651747</td></tr>
       <tr><th>Solar/PV</th><td>100</td><td>0.107224451377165</td></tr>
       <tr><th>Wind</th><td>100</td><td>0.714874380643002</td></tr>
       <tr><th>Wood/Waste</th><td>100</td><td>2.38801839959962</td></tr>
       <tr><th>Fuel Ethanol</th><td>37.4601226993865</td><td>0.910860202964241</td></tr>
       <tr><th>Biodiesel</th><td>[?]</td><td>[?]</td></tr>
    </tbody>
    <tfoot>
       <tr><th>I<sup>1</sup></th><th colspan="2">74.0023286727839</th></tr>
    </tfoot>
</table>
