<table class="table table-bordered table-condensed">
    <thead>
       <tr><th></th><th colspan="2">2013</th></tr>
       <tr><th>Source</th><th>Value</th><th>Weight</th></tr>
    </thead>
    <tbody>
       <tr><th>Coal</th><td>99.0365618630092</td><td>18.5881025150125</td></tr>
       <tr><th>Natural Gas</th><td>88.9814280626856</td><td>27.6354290197437</td></tr>
       <tr><th>Petroleum</th><td>48.3239105469127</td><td>35.6675899457207</td></tr>
       <tr><th>Nuclear</th><td>100</td><td>8.49556425823131</td></tr>
       <tr><th>Hydro</th><td>100</td><td>2.64043396739779</td></tr>
       <tr><th>Geothermal</th><td>100</td><td>0.220524774068399</td></tr>
       <tr><th>Solar/PV</th><td>100</td><td>0.31448630317811</td></tr>
       <tr><th>Wind</th><td>100</td><td>1.65013752734688</td></tr>
       <tr><th>Wood/Waste</th><td>100</td><td>2.74718660526385</td></tr>
       <tr><th>Fuel Ethanol</th><td>97.1473753421934</td><td>1.85350719156467</td></tr>
       <tr><th>Biodiesel</th><td>75.6096064999561</td><td>0.187037892472085</td></tr>
    </tbody>
    <tfoot>
       <tr><th>I<sup>1</sup></th><th colspan="2">78.24577694</th></tr>
    </tfoot>
</table>
