<table class="table table-bordered table-condensed">
    <thead>
       <tr><th></th><th colspan="2">2013</th></tr>
       <tr><th>Source</th><th>Value</th><th>Weight</th></tr>
    </thead>
    <tbody>
       <tr><th>Coal</th><td>100</td><td>9.764921242</td></tr>
       <tr><th>Natural Gas</th><td>82.0647128357032 </td><td>31.0259493769172</td></tr>
       <tr><th>Petroleum</th><td>0.70843383871298</td><td>35.6399319894598</td></tr>
       <tr><th>Nuclear</th><td>100</td><td>15.3583980480111</td></tr>
       <tr><th>Hydro</th><td>100</td><td>2.54319877553757</td></tr>
       <tr><th>Geothermal</th><td>100</td><td>0.0369671904821605</td></tr>
       <tr><th>Solar/PV</th><td>100</td><td>0.358437818041883</td></tr>
       <tr><th>Wind</th><td>100</td><td>0.634782717383935</td></tr>
       <tr><th>Wood/Waste</th><td>100</td><td>3.33503902576303</td></tr>
       <tr><th>Fuel Ethanol</th><td>22.1166206194562</td><td>1.30237381632079</td></tr>
       <tr><th>Biodiesel</th><td>[?]</td><td>[?]</td></tr>
    </tbody>
    <tfoot>
       <tr><th>I<sup>1</sup></th><th colspan="2">58.03362749</th></tr>
    </tfoot>
</table>
