<div id="controls" class="container-fluid">
	<div class="row">
		<form>
			<div class="col-sm-3 col-md-3 col-lg-3">
				<div class="panel panel-default" id="date_controls">
					<div class="panel-heading">
						<div class="panel-title">Date Range</div>
					</div>
					<div class="panel-body">
						<input class="form-control" type="text" id="start_year" name="start_year" placeholder="Start Year" /><br />
						<input class="form-control" type="text" id="end_year" name="end_year" placeholder="End Year" />
					</div>
				</div>
				<div class="panel panel-default form-group" id="index_controls">
					<div class="panel-heading">
						<div class="panel-title">Index Value</div>
					</div>
					<div class="panel-body">
						<div class="radio"><label><input type="radio" name="index_value" id="i1" value="1" checked>I<sup>1</sup></label></div>
						<div class="radio"><label><input type="radio" name="index_value" id="i2" value="2">I<sup>2</sup></label></div>
					</div>
				</div>
			</div>
			<div class="col-sm-3 col-md-3 col-lg-3">
				<div class="panel panel-default form-group" id="geographic_controls">
					<div class="panel-heading">
						<div class="panel-title">Geographic Region</div>
					</div>
					<div class="panel-body">
						<div class="radio"><label><input class="radio" type="radio" name="geographic" id="geographic_national" value="national" checked>National</label></div>
						<div class="radio"><label><input class="radio" type="radio" name="geographic" id="geographic_regional" value="regional">Regional</label></div>
						<select class="form-control" name="region" id="region">
							<option value="blank">Select Region&hellip;</option>
							<option value="northeast">Northeast</option>
							<option value="midwest">Midwest</option>
							<option value="south">South</option>
							<option value="west">West</option>
						</select>
						<div class="radio"><label><input class="radio" type="radio" name="geographic" id="geographic_state" value="state">State</label></div>
						<select class="form-control" name="state" id="state">
							<option value="blank">Select State&hellip;</option>
							<option value="AL">Alabama</option>
							<option value="AK">Alaska</option>
							<option value="AZ">Arizona</option>
							<option value="AR">Arkansas</option>
							<option value="CA">California</option>
							<option value="CO">Colorado</option>
							<option value="CT">Connecticut</option>
							<option value="DE">Delaware</option>
							<option value="DC">District Of Columbia</option>
							<option value="FL">Florida</option>
							<option value="GA">Georgia</option>
							<option value="HI">Hawaii</option>
							<option value="ID">Idaho</option>
							<option value="IL">Illinois</option>
							<option value="IN">Indiana</option>
							<option value="IA">Iowa</option>
							<option value="KS">Kansas</option>
							<option value="KY">Kentucky</option>
							<option value="LA">Louisiana</option>
							<option value="ME">Maine</option>
							<option value="MD">Maryland</option>
							<option value="MA">Massachusetts</option>
							<option value="MI">Michigan</option>
							<option value="MN">Minnesota</option>
							<option value="MS">Mississippi</option>
							<option value="MO">Missouri</option>
							<option value="MT">Montana</option>
							<option value="NE">Nebraska</option>
							<option value="NV">Nevada</option>
							<option value="NH">New Hampshire</option>
							<option value="NJ">New Jersey</option>
							<option value="NM">New Mexico</option>
							<option value="NY">New York</option>
							<option value="NC">North Carolina</option>
							<option value="ND">North Dakota</option>
							<option value="OH">Ohio</option>
							<option value="OK">Oklahoma</option>
							<option value="OR">Oregon</option>
							<option value="PA">Pennsylvania</option>
							<option value="RI">Rhode Island</option>
							<option value="SC">South Carolina</option>
							<option value="SD">South Dakota</option>
							<option value="TN">Tennessee</option>
							<option value="TX">Texas</option>
							<option value="UT">Utah</option>
							<option value="VT">Vermont</option>
							<option value="VA">Virginia</option>
							<option value="WA">Washington</option>
							<option value="WV">West Virginia</option>
							<option value="WI">Wisconsin</option>
							<option value="WY">Wyoming</option>
						</select>				
					</div>
				</div>
			</div>
			<div class="col-sm-6 col-md-6 col-lg-6">
				<div class="panel panel-default form-group" id="source_controls">
					<div class="panel-heading">
						<div class="panel-title">Energy Sources</div>
					</div>
					<div class="panel-body">
						<div class="row">
							<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
								<div class="checkbox"><label><input type="checkbox" name="energy_source" id="coal" value="coal">Coal</label></div>
								<div class="checkbox"><label><input type="checkbox" name="energy_source" id="natural_gas" value="natural_gas">Natural gas</label></div>
								<div class="checkbox"><label><input type="checkbox" name="energy_source" id="petroleum" value="petroleum">Petroleum</label></div>
								<div class="checkbox"><label><input type="checkbox" name="energy_source" id="nuclear" value="nuclear">Nuclear</label></div>
								<div class="checkbox"><label><input type="checkbox" name="energy_source" id="hydro" value="hydro">Hydro</label></div>
								<div class="checkbox"><label><input type="checkbox" name="energy_source" id="geothermal" value="geothermal">Geothermal</label></div>
							</div>
							<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
								<div class="checkbox"><label><input type="checkbox" name="energy_source" id="solar_pv" value="solar_pv">Solar/PV</label></div>
								<div class="checkbox"><label><input type="checkbox" name="energy_source" id="wind" value="wind">Wind</label></div>
								<div class="checkbox"><label><input type="checkbox" name="energy_source" id="wood_waste" value="wood_waste">Wood/Waste</label></div>
								<div class="checkbox"><label><input type="checkbox" name="energy_source" id="fuel_ethanol" value="fuel_ethanol">Fuel enthanol</label></div>
								<div class="checkbox"><label><input type="checkbox" name="energy_source" id="biodisel" value="biodisel">Biodisel</label></div>
							</div>
						</div>
						<div id="select-buttons">
							<a class="btn btn-default" id="all_energy_sources">Select All</a>
							<a class="btn btn-default" id="no_energy_sources">Select None</a>
						</div>
					</div>
				</div>
			</div>
		</form>
	</div>
	<hr>
</div>