<nav role="navigation" class="navbar navbar-default">
    <div class="navbar-header">
        <button type="button" data-target="#navbarCollapse" data-toggle="collapse" class="navbar-toggle">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <a href="#" class="navbar-brand">W&amp;J College Energy Index</a>
    </div>
    <div id="navbarCollapse" class="collapse navbar-collapse">
        <ul class="nav navbar-nav">
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Select Test Case<span class="caret"></span></a>
              <ul class="dropdown-menu" id="test-case-list">
              </ul>
            </li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
        <li><div class="container" style="width:auto;"><button id="nav_show_hide" class="btn navbar-btn btn-default show_hide_controls_container">Toggle Controls</button></div></li>
        </ul>
    </div>
</nav>	